.calcul{
    border: 2px solid teal;
    width: 300px;
}
.calcul__btn{
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: white;
    padding: 20px;
    margin: 6px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.egal{
    background-color: blue;
    color: white;
    width: 286px;
    height: 60px;
}
.ac{
    background-color: tomato;
    color: white;    
}
p{
    background-color: black;
    color: white;
    text-align: right;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
#btn{
    display: flex;
    flex-direction: column;
}