.calcul{
    border: 2px solid teal;
    width: 300px;
}
.calcul__btn{
    padding: 20px;
    margin: 5px;
    background-color: paleturquoise;
}
.egal{
    background-color: blue;
    color: white;
    
}
.ac{
    background-color: tomato;
    color: white;    
}
p{
    background-color: black;
    color: white;
    text-align: right;
    padding: 15px;
}